@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Oswald');

body {
  /*padding-top: 60px;*/
  text-align: center;
  font-family:Droid Serif;
  letter-spacing: .1em;
  color: #fff;
  font-family: Helvetica;
}

hr {
	width: 40%;
}

a {
	
	color: rgb(67,135,252);
}

#header {
	font-family:Droid Serif;
	background-color: black;
	/*border: 1px solid black;*/
	display:flex;
    flex-direction:row;
	justify-content: space-around;
}

#Logo {
	float:left;
	width:25%;
	margin: 2%;
	color: white; 
	/*border: 1px solid white;*/
	background: rgba(67,135,252,.5);
}


#MenuWrapper{
	background-color: black;
	/*border: 1px solid black;*/
	width:75%;
	display:flex;
    flex-direction:row;
	justify-content: space-around;
}


.MenuButton {
	float:left;
	width:25%;
	margin: 3%;
	color: white; 
	/*border: 1px solid white;*/
	background: rgba(67,135,252,.5);
}



#mainpage {
	/*border: 1px solid blue;*/
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	display:block;
	background: url("../images/BabyFalls_Boof_2.jpeg");
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 8%;
}



#maintitle {
	/*border: 1px solid white;*/
	text-align:center;
	Font-family:Oswald;
	font-size: 20px;
	letter-spacing: .25em;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	width:50%;
}



#maincontent {
	font-family:Droid Serif;
	font-size:.7em;
	/*background-color: rgba(255,255,255,.5);*/
	/*border: 1px solid white;*/
	color:black;
	text-align:left;
	margin-top:30%;
	margin-left:auto;
	margin-right:auto;
	display:block;
	width:60%;
}



#slogan {
	font-family:Droid Serif;
	font-size:.75em;
	letter-spacing: .15em;
	font-style:italic;

}

#mainCTAbuttons {
    Font-family:Oswald;
    /*border:1px solid white;*/
    position: relative;
    margin-left:auto;
	margin-right:auto;
	margin-top:2%;
    left: 0;
    right: 0;
    width: 50%;
    display:flex;
    flex-direction:row;
	justify-content: space-around;
}

#CTA1 {
	float:left;
	width:25%;
	margin: 2%;
	color: white; 
	/*border: 1px solid white;*/
	background: rgba(67,135,252,.7);
}

#CTA2 {
    float:left;
	width:25%;
	margin:2%;
	color: white; 
	/*border: 1px solid white;*/
	background: rgba(67,135,252,.7);
}


#sub-content {

	font-family:Droid Serif;
	font-size:.7em;
	background-color:black;
	position: relative;
	border: 1px solid black;
	text-align:left;
	display:block;
	padding-left:2em;
	width:50%;
	
}

#footer {

	font-family:Droid Serif;
	background-color:blue;
	position: relative;
	border: 1px solid white;
	text-align:center;
	display:block;
	
}
